/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #47c311;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Order Container Styling */
.order-container {
    background-color: rgb(255, 9, 9);
    /* border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    text-align: center;
    width: 300px;
}

/* Header Style */
.order-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #201a1a;
}

/* No Order Message Style */
.no-order-message {
    font-size: 18px;
    color: #4b3a3a;
}
